requests
pillow
python-dotenv
beautifulsoup4
pandas
playwright
ddddocr
rookiepy
easyocr
numpy
opencv-python
selenium
canvasapi
openpyxl
python-docx
PyMuPDF
zai-sdk
rarfile
google-genai
matplotlib
pywin32
mss
opencv-python
pytesseract
keyboard